version: '3.8'
services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

  flask:
    build: .
    ports:
      - "5001:5000"
    depends_on:
      - redis

volumes:
  redis-data:
